<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>

  <!-- CSS -->
  <link href="/static/favicons/favicon.ico" rel="shortcut icon">
  <link href="https://framework-gb.cdn.gob.mx/qa/assets/styles/main.css" rel="stylesheet">
  </head>
  <body>
  <main class="page">
    <div class="container">
      <h1 th:inline="text">Hola [[${#httpServletRequest.remoteUser}]]!</h1>
      <hr class="red">
      <form class="form-horizontal" role="form" th:action="@{/logout}" method="post">
        <div class="form-group">
          <div class="pull-right">
            <button class="btn btn-primary" type="submit">Cerrar Sesión</button>
          </div>
        </div>
      </form>
    </div>
  </main>

    <!-- JS -->
    <script src="https://framework-gb.cdn.gob.mx/qa/gobmx.js"></script>
  </body>
</html>
